pre {
    counter-reset: rowNumber;
}

pre span.row-number {
    counter-increment: rowNumber;
}

pre span.row-number::before {
    content: counter(rowNumber);
    width: 2rem;
    display: inline-block;
    color: #aaa;
}