body {
    /* background-color: whitesmoke; */
    background-image: url("../bg-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    /* padding-bottom: 50px; */
    color: whitesmoke;

    background-color: #000000b7;
}

.main-content {
    max-width: 1000px;
    min-height: 100vh;
    /* background-color: #ffffff70; */
    background-color: #00000052;
    /* border: solid 2px;
    border-color: #4d8bff; */
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 1rem;
    box-shadow: 0 0 25px 0 #9cb9e79b;
    backdrop-filter: blur(4px);
}

.brand {
    font-weight: bold;
    font-size: 20px;
}

.site-header {
    z-index: 99;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #0607498a;
    backdrop-filter: blur(4px);
    box-shadow: 0 10px 15px 0 #0b14668a;
}

.site-header a{
    color: whitesmoke;
}

.nav__wrapper .nav__item.selected {
    background-color: #0a0b5f70;
    backdrop-filter: blur(2px);
    box-shadow: 0 10px 15px 0 #12054d;
}

.nav__wrapper .nav__item.selected a {
    color: white;
}

/* footer */

.site-footer {
    width: 100%;
    min-height: 30px;
    background-color: #031a338a;
    backdrop-filter: blur(8px);
    box-shadow: 0 -10px 15px 0 #011d3d8a;
    text-align: center;
    padding-top: 5px;
    color: white;
}

.site-footer::after {
    content: "© 2021-2022 Momerio.";
}